/* QUIZ APP STYLING */

* {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

/* RESPONSIVENESS */

@media screen and (min-width: 1000px) and (min-height: 673px) {
    .container {
      width: 65%;
    }
  }

  @media screen and (max-width: 800px) {
    .container {
      display: initial;
    }
    
    main {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background image used */
    
    background: linear-gradient(#818182,rgba(0,123,255,.5)), url(/assets/janetjackson.jpeg) center / cover no-repeat;
    }

     .container {
        width: 85%;
        display: flex;
     };